@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Order Details: </h2>
  <div class="well">
    <h3>@Model["order"].Day</h3>
    <h3>Vendor: @Model["vendor"].Name</h3>
    <h4>Contact: @Model["vendor"].Contact</h4>
    <h4>Business Type: @Model["vendor"].BusinessType</h4>
    <h4>Invoice Total: @Model["order"].InvoiceTotal</h4>
  </div>
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order for a different day</a>
<a href = '/vendors'>View all Vendors</a>
</div>